#streamlit
#qdrant-client
#sentence-transformers
#langchain-huggingface
#groq
#python-dotenv

#for deploying to streamlit
#streamlit
#qdrant-client
#groq
#langchain-huggingface
#cohere

streamlit
qdrant-client
groq
langchain-huggingface
cohere
python-dotenv